/*Body-Headings-Paragraph Details*/
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body{
  background-color: black;
  color: white;
}

/*Navigation Bar*/
nav ul{
  overflow: hidden;
}

nav ul li{
  float: left;
  display: block;
  text-align: center;
  padding: 4px 10px;
}

nav ul li:hover{
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
}

/*Header*/
header{
  text-align: center;
  padding: 10px;
}

header h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  animation: typing 5s steps(50) forwards, blink 1s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: .1em solid white;
}

@keyframes typing{
  from{
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink{
  from, to{
    border-color: transparent;
  }
  50%{
    border-color: white;
  }
}

header h2{
  font-size: 1em;
  padding-top: 5px;
  animation: flyInFromBottom 2s ease-out forwards;
  opacity: 0;
}

@keyframes flyInFromBottom{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

header h3{
  font-size: x-small;
  padding-top: 5px;
 animation: flyInFromTop 2s ease-out forwards;
  opacity: 0;
}

@keyframes flyInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }

/*Bio*/
.about{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}

.bio img{
  width: 200px;
}
/*Featured Work*/
.mywork img{
  width: 200px;
  padding: auto;
}

/*Pricing*/
.pricelist{
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 10px;
}

.pricelist img{
  width: 200px;
}

.pricelist ul{
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10%;
}

.pricelist li{
  padding: 10px 0;
}

/*Contact Me*/
.contactme ul{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}
